root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
max_line_length = 120
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_imports_layout = *
ij_kotlin_packages_to_use_import_on_demand = unset

[*.{xml,gradle,gradle.kts}]
indent_size = 4

[*.{json,toml,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
max_line_length = unset

[Makefile]
indent_style = tab
